body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.nav {
    margin-bottom: 20px;
}

#app {
    text-align: center;
}

.kartya, .nyelvtan-kartya, .szovegertes-kartya {
    width: 80%; /* Szélesebb kártya a szövegértéshez */
    max-width: 800px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spanyol {
    font-size: 2em;
    font-weight: bold;
}

.magyar {
    font-size: 1.5em;
    color: #666;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

#valasz {
    margin: 10px;
    padding: 5px;
    width: 80%;
}

#eredmeny, #szovegertes-eredmeny {
    margin-top: 10px;
    font-weight: bold;
}

.szoveg {
    text-align: left;
    margin-bottom: 20px;
}

.kerdesek {
    text-align: left;
}

.question {
    margin-bottom: 15px;
}
